In [1]:
import sqlite3

In [5]:
con=sqlite3.connect('C://22bca211//python//result.db')

In [6]:
cur=con.cursor()

In [7]:
create_tbl='''create table if not exists result_tbl
              (
                  Student_id int Primary key,
                  Student_name text NOT NULL,
                  subject1_marks int,
                  subject2_marks int,
                  subject3_marks int,
                  subject4_marks int,
                  subject5_marks int)'''

In [8]:
cur.execute(create_tbl)

In [16]:
insert_record='''insert into result_tbl values(1,'om patel',60,70,77,80,50),
                                              (2,'Sai Patil',65,57,55,82,63),
                                              (3,'Ram patel',97,98,97,98,76),
                                              (4,'Radha sharma',89,65,55,48,90),
                                              (5,'kishan Desai',45,60,97,88,46),
                                              (6,'Shiv Prajapati',62,63,66,68,75),
                                              (7,'bhim Prajapati',59,55,63,70,61),
                                              (8,'arjun Patil',60,65,65,52,66),
                                              (9,'krishna patel',67,55,67,50,98),
                                              (10,'Radhe solanki',89,98,87,88,86)'''

In [17]:
cur.execute(insert_record)

In [18]:
records='select * from result_tbl'
cur.execute(records)
data=cur.fetchall()

In [19]:
import csv

In [21]:
with open('c://22bca211//Python//result.csv', 'w+', newline='') as file:
    fileobj = csv.writer(file)
    head = ['Student_ID', 'Student_Name', 'Subject1_Marks', 'Subject2_Marks', 'Subject3_Marks', 'Subject4_Marks', 'Subject5_Marks']
    fileobj.writerow(head)
    fileobj.writerows(data)

In [24]:
with open('c://22bca211//Python//result.csv', 'r', newline='') as file, open('c://22bca211//Python//mainresult2.csv', 'w+', newline='') as file2:
    allre=csv.reader(file)
    fileobj=csv.writer(file2)
    head=next(allre)
    head.extend(['Total_Marks','Percentage','Grade'])
    fileobj.writerow(head)
    for i in allre:
        totalmarks=int(i[2])+int(i[3])+int(i[4])+int(i[5])+int(i[6])
        i.append(totalmarks)
        percentage=i[7]/500*100
        if percentage >= 90:
            grade = 'A+'
        elif percentage >= 80:
            grade = 'A'
        elif percentage >= 70:
            grade = 'B'
        elif percentage >=55 and percentage < 70:
            grade = 'C'
        elif percentage >=30 and percentage < 55 :
            grade = 'D'
        else:
            grade = 'Fail'
        i.extend([percentage,grade])
        fileobj.writerow(i)
    file2.seek(0)
    
    allrecords = file2.readlines()
    for record in allrecords: 
            print(record)

Student_ID,Student_Name,Subject1_Marks,Subject2_Marks,Subject3_Marks,Subject4_Marks,Subject5_Marks,Total_Marks,Percentage,Grade

1,om patel,60,70,77,80,50,337,67.4,C

2,Sai Patil,65,57,55,82,63,322,64.4,C

3,Ram patel,97,98,97,98,76,466,93.2,A+

4,Radha sharma,89,65,55,48,90,347,69.39999999999999,C

5,kishan Desai,45,60,97,88,46,336,67.2,C

6,Shiv Prajapati,62,63,66,68,75,334,66.8,C

7,bhim Prajapati,59,55,63,70,61,308,61.6,C

8,arjun Patil,60,65,65,52,66,308,61.6,C

9,krishna patel,67,55,67,50,98,337,67.4,C

10,Radhe solanki,89,98,87,88,86,448,89.60000000000001,A

In [26]:
with open('c://22bca211//Python//mainresult2.csv', 'r', newline='') as file2:
    head = next(file2)
    header = "{:^12} {:^20} {:^15}\n-----------------------------------------------------".format('Student_ID', 'Student_Name', 'Percentage')
    print(header)
    d = csv.reader(file2)
    d = sorted(d, key=lambda stud: stud[8], reverse=True)
    c=0

    for i in d:
        record_line = "{:^12} {:^20} {:^15} ".format(i[0], i[1], i[8])
        print(record_line)
        c+=1
        if c==3:
            break

 Student_ID      Student_Name       Percentage
-----------------------------------------------------
     3            Ram patel            93.2
     10         Radhe solanki     89.60000000000001
     4           Radha sharma     69.39999999999999